/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "@angular/material/prebuilt-themes/purple-green.css"; */
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */





html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}